p{
    font-size: 18px;
}
ol{
    font-size: 18px;
}
pre{
    font-size: 18px;
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
   
    
}
ul{
    font-size: 18px;
}

dl{
    font-size: 18px;
}
dt{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
   
}
